@import "../../variables.scss";

footer {
  margin: 0 5rem;
  padding: 4rem 0;

  .footer-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    .info {
      width: 100%;

      h3 {
        margin-bottom: 1rem;
      }

      p {
        color: $dark-grey;
      }
    }

    .quick-menu {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .copyright {
    color: $dark-grey;
    font-size: 0.8rem;
  }
}
