@import "../../variables.scss";

h3 {
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
}

ul {
  padding: 0;
  li {
    list-style: none;
    margin-bottom: 0.5rem;

    a {
      color: $dark-grey;
    }
  }
}
