<nav>
  <header>
    <h4>E-Commerce</h4>
    <p>+91-9999911111</p>
  </header>
  <div class="menu-bar">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png"
      alt=""
    />
    <ul class="menu-list">
      <li>HOME</li>
      <li>SHOP</li>
      <li>ABOUT</li>
      <li>CONTACT</li>
    </ul>
    <ul class="user-menu">
      <li>
        <img
          src="https://cdn-icons-png.flaticon.com/512/6522/6522516.png"
          alt=""
        />
      </li>
      <li>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1200px-Search_Icon.svg.png"
          alt=""
        />
      </li>
      <li>
        <img
          src="https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/shopping-ecommerce/bag-l2pr917921po6v1yxotfu.png/bag-mls18rcj4n2yybcu2w77j.png?_a=DATAg1AAZAA0"
          alt=""
        />
      </li>
    </ul>
  </div>
</nav>
