<app-navbar></app-navbar>
<app-hero-banner></app-hero-banner>
<section class="category-section">
  <header>
    <h2>Shop By Categories</h2>
    <a href="#">Show More</a>
  </header>
  <div class="category-card-container">
    @for (item of [1,2]; track item) {
    <app-category-card></app-category-card>
    }
  </div>
</section>
<section class="new-arrivals">
  <header>
    <h2>New Arrivals</h2>
    <a href="#">Show More</a>
  </header>
  <div class="product-container">
    @for (item of [1,2,3,4]; track item) {
    <app-product-card></app-product-card>
    }
  </div>
</section>
<app-footer></app-footer>
